<ng-container *ngIf="control && (control.touched || control.dirty ) ">
    <ng-container *ngIf="errors; else ok">
      <nb-icon class="ml" icon="close-circle" status="danger"></nb-icon>
      <div class="text-red">
        <div *ngIf="errors.required">Ce champs est requis</div>
        <div *ngIf="errors.maxlength">
          Ce champs est trop long ( {{ errors.maxlength.actualLength }}/{{
            errors.maxlength.requiredLength
          }}
          )
        </div>
        <div *ngIf="errors.minlength">
          Ce champs est trop court ( {{ errors.minlength.actualLength }}/{{
            errors.minlength.requiredLength
          }}
          )
        </div>

        <div *ngIf="errors.pattern">pattern non respecté </div>
        
      </div>
    </ng-container>
  </ng-container>
  
  <ng-template #ok>
    <nb-icon class="ml" icon="checkmark-circle" status="success"></nb-icon>
  </ng-template>
  