.btns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.btn-consulter {
    background-color: #007bff;
    border: 1px solid #007bff; 
    border-radius: 4px; 
    padding: 8px 12px; 
    cursor: pointer;
  }
  .btn-delete {
    background-color: #8B0000;
    border: 1px solid #8B0000; 
    border-radius: 4px; 
    padding: 8px 12px; 
    cursor: pointer;
  }
  
  .btn-consulter:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .btn-delete:hover {
    background-color: #a23333;
    border-color: #a23333;
  }

input[type="text"] {
    width: 36%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }
  

.container {
    margin-top: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  thead {
    background-color: #34914d;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
  }
  
  th {
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #c47f0a;
  }
  
  