<div class="container">
    <div class="header">
      <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange($event)" placeholder="Search Customers" class="form-control mb-3">
      <button type="button" class ="btn-Cancel" nbButton status="primary"  (click)="AddCustomer()" >Add</button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer Number</th>
          <th>Customer Name </th>
          <th>Customer VAT Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of filteredCustomers">
          <td>{{customer.customerNumber}}</td>
          <td>{{customer.customerName}}</td>
          <td>{{customer.customerVatNumber}}</td>
          <td class="btns" >
            <button class="btn-consulter" (click)="consultCustomer(customer)">Consult</button>
            <button class="btn-edit" (click)="EditCustomer(customer)">Edit</button>
            <button class="btn-delete" (click)="DeleteCustomer(customer)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  